<p id="notice"><%= notice %></p>

<h1>Show posts</h1>

<strong>Title: </strong><%= @post.title %><br />
<strong>Body: </strong><%= @post.body %><br />
<strong>Author by: </strong><%= @post.author.name %><br />


<%= link_to 'Back', posts_path %>


